﻿.news {
    text-align: center;
}

.new {
    border: 2px solid #5b9beb;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    width: 400px;
}

.description {
    color: #f65345;
    white-space: normal;
}

h2 {
    text-decoration: underline;
}


a{
    text-decoration: none;
}

a.link,
a.link:visited {
    border: 2px outset;
    background: coral;
    width: 20px;
    height: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    user-select: none;
    padding: 3px;
}

a.link:hover {
    border: 2px inset;
}

* {
    text-align: center;
}

#link_currentPage{
    color: red;
}